<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div>
  <ul id="messages"></ul>
</div>

<div>
  <input id="message" type="text" />
  <button onclick="handleSubmitNewMessage()">Submit</button>
</div>

<script src="https://cdn.socket.io/4.3.2/socket.io.min.js"
        integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
        crossorigin="anonymous"></script>
  <script>
    const socket = io("http://localhost:3000")

    const message = document.getElementById('message');
    const messages = document.getElementById('messages');

    const handleReadMessage = () => {
      socket.emit('readMessage',  { userId: 6, messageId: '937d2a35-e73c-4c10-96d7-634cbb6c7177' })
    }
    const handleSubmitNewMessage = () => {
      socket.emit('message',  { message: message.value, authorId: 5, chatId: '06c7d062-c0b7-4766-9546-567bc3bfe1e2' })
      handleReadMessage()
    }


    socket.on('message', ({ message }) => {
      handleNewMessage(message);
    })
    socket.on('readMessage', ({ message }) => {
      handleReadMessage(message);
    })

    const handleNewMessage = (message) => {
      messages.appendChild(buildNewMessage(message));
    }

    const buildNewMessage = (message) => {
      const li = document.createElement("li");
      li.appendChild(document.createTextNode(message))
      return li;
    }

  </script>
</body>


</html>